<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Visuals</title>
    </head>
    <body>
        <style>
            table, th, td {
              border:1px solid black;
            }
            </style>
            <body>
            
            <h2>A basic Website</h2>
            
            <!-- Make a test table first-->
            <table style="width:100%">
              <tr>
                <th>Graph</th>
                <th>Desciption</th>
              </tr>
              <tr>
                <td style="width:50%;"><a href="https://ibb.co/54ztMPh"><img src="https://i.ibb.co/Pjb3mdG/bad-extensions.png" alt="bad-extensions" border="0"></a></td>
                <td>Description: The most common extensions for malicious urls is the ".de" extension making up a total of 6 of the malicious URls in our data set. the ".br" extension comes in 2nd</td>
              </tr>
            </table>

            <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/gFN8FLM/content-scatter.png" alt="content-scatter" border="0"></a></td>
                  <td>Description: This plot shows us something very interesting. It seems that most websites that are non malicious will have a low number of content length while malicious ones will almost surely have them.</td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://ibb.co/xf8NnLh"><img src="https://i.ibb.co/rcfVB0k/links-by-country.png" alt="links-by-country" border="0"></a></td>
                  <td>Description: This plot shows us that the country with the most malicious URLs come from the US </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://ibb.co/NrtDM9Q"><img src="https://i.ibb.co/G9nYqWB/links-by-state.png" alt="links-by-state" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/vhRLM99/Malicious-content-length.png" alt="Malicious-content-length" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/DbBmWty/Malicious-special-characters.png" alt="Malicious-special-characters" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/fHHTs7V/malicious-url-box-plot.png" alt="malicious-url-box-plot" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/kHMVRCN/not-malicious-box-plot.png" alt="not-malicious-box-plot" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/r7CLZ6Z/not-malicious-url-Length.png" alt="not-malicious-url-Length" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/NYCWT5L/notmalicious-box.png" alt="notmalicious-box" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/Ky1Dj9Y/special-scatter.png" alt="special-scatter" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>

              <table style="width:100%">
                <tr>
                  <th>Graph</th>
                  <th>Desciption</th>
                </tr>
                <tr>
                  <td style="width:50%;"><a href="https://imgbb.com/"><img src="https://i.ibb.co/S3P21Jv/url-scatter.png" alt="url-scatter" border="0"></a></td>
                  <td>Description: </td>
                </tr>
              </table>
            </body>
    </body>
</html>